<br>
<br>
<br>
<div class="container">
  <h1><%= @project.title %> <span><img width="35" src="assets/icon_rails"></span></h1>
  <a><%= @project.url %></a>
  <h5><%= @project.description %></h5>
  <hr>
  <h5>Employees Controller - Ruby</h5>
  <%= markdown("`app/controllers/planoadmin/employees_controller.rb`") %>
  <%= markdown(@controller) %>
  <hr>
  <h5>Employee Model - Ruby</h5>
  <%= markdown("`app/models/employee.rb`") %>
  <%= markdown(@employee_model) %>
  <hr>
  <h5>User Model - Ruby</h5>
  <%= markdown("`app/models/user.rb`") %>
  <%= markdown(@user_model) %>
  <hr>
</div>
